<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{
    base::html(
        ~{::title},
        ~{::content},
        ~{},
        ~{}
    )
}"
>
  <title>Delete Order</title>
  <th:block th:fragment="content">
    <div class="alert alert-danger">
      Are you sure you want to delete this order?
      <ul>
        <li>Order ID: <span th:text="${order.id}"></span></li>
        <li>User ID: <span th:text="${order.user.id}"></span></li>
        <li>User Name: <span th:text="${order.user.username}"></span></li>
        <li>Order Status: <span th:text="${order.status}"></span></li>
      </ul>
      <form method="POST" th:action="@{/orders/{id}/delete(id=${order.id})}">
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a th:href="@{/orders}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </th:block>
</html>